<div class="container contact-container">
  <div class="px-4 py-5 text-center">
    <div class="mb-3">
      <h1 class="display-5 fw-bold text-light">Get In Touch</h1>
    </div>
    <div class="col-lg-6 mx-auto mb-3">
      <div>
        <p class="lead mb-4">
          I am currently seeking job opportunities. If you like my projects or are interested in working with me, feel free to reach out—I will definitely get back to you! I’m open to job offers as well as freelance projects, and I would be excited to join an interesting initiative!
        </p>
      </div>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a type="button" role="button" href="mailto:shadowblack77@gmail.com" class="btn btn-lg px-4 gap-3 btn-hello">Say Hello</a>
      </div>
    </div>
  </div>
</div>