<section id="about-me">
  <div id="about-content">
    <div id="about-title">
      <h2>About me</h2>
    </div>
    <div>
      <img src="../../../assets/next photo profile.jpg" alt="picture" id="image">
    </div>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ipsum similique minus corporis accusantium, voluptatem, temporibus quo laborum nobis soluta atque iusto optio totam mollitia sunt dignissimos aliquid laboriosam fuga repellendus debitis quaerat doloremque numquam possimus voluptatum. Nisi quas sequi accusamus molestiae maxime veritatis architecto veniam quasi?
      </p>
    </div>
  </div>
</section>