<section id="experience">
  <div id="experience-desc">
    <h3>Experience</h3>
    <p>
      I have been creating websites for over a year. I'm constantly learning new things to always be up to date with technology.
    </p>
  </div>
 <div id="experience-gallery">
  <div id="icons">
    <div id="row-one">
      <div>
        <img src="../../../assets/icons/html5.png" alt="html5">
        <p>HTML5</p>
      </div>
      <div>
        <img src="../../../assets/icons/css3.png" alt="css3">
        <p>CSS3</p>
      </div>
      <div>
        <img src="../../../assets/icons/sass.png" alt="sass">
        <p>Sass</p>
      </div>
      <div>
        <img src="../../../assets/icons/js.png" alt="js">
        <p>JavaScript</p>
      </div>
    </div>
    <div id="row-two">
      <div>
        <img src="../../../assets/icons/jquery.png" alt="jQuery">
        <p>jQuery</p>
      </div>
      <div>
        <img src="../../../assets/icons/angular.png" alt="angular">
        <p>Angular</p>
      </div>
      <div>
        <img src="../../../assets/icons/nodejs.png" alt="nodejs">
        <p>NodeJS</p>
      </div>
      <div>
        <img src="../../../assets/icons/mysql.png" alt="sql">
        <p>MySQL</p>
      </div>
    </div>
  </div>
  <div id="more-experience">
    <div id="more-experience-title">
      <h2>More About Experience</h2>
    </div>
    <div id="more-experience-desc">
      <p>
        <b>Archman Navigaotr</b> - Working with the archman application to build applications for companies
      </p>
    </div>
  </div>
 </div>
</section>