<div id="about-me">
  <div id="about-content" [@aboutAnimation]="aboutAnimState">
    <div id="about-title">
      <h2>About me</h2>
    </div>
    <div>
      <img src="../../../assets/backgrounds/next photo profile.jpg" alt="logo image" id="image">
    </div>
    <div>
      <p>
        Hello, my name is Daniel, and I am {{ currentYearsOld }} years old. I have been learning programming for a year and a half, consistently expanding my knowledge with new topics. Besides coding, I have a keen interest in sports and investments. During my free time, I also enjoy reading a good book.
      </p>
    </div>
  </div>
</div>