.about-container {
  min-height: 100vh;
  display: flex;
  align-items: center;

  .lead,
  .subtitle-color {
    color: #ADD8E6;
  }

  .btn-about {
    color: white;
    border: 1px solid white;
  }

  .btn-about:hover {
    color: #41175e;
    border: 1px solid #41175e;
    background-color: #ADD8E6;
  }
}