<div class="about-container">
  <div class="container">
    <div class="row flex-lg-row-reverse align-items-center">
      <div class="col-10 col-sm-8 col-lg-6 col-sm-12 text-center">
        <img src="./assets/imgs/about-image.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy">
      </div>
      <div class="col-lg-6">
        <div class="mb-4">
          <p class="lead">Hello, my name is</p>
        </div>
        <div class="mb-4">
          <h1 class="display-5 fw-bold lh-1 mb-3 text-light">
            Daniel Miliczek. <br />
            <span class="subtitle-color">I build web, mobile & desktop apps.</span>
          </h1>
        </div>
        <div class="mb-4">
          <p class="lead">
            I'm software developer specializing in building (and occasionally designing) web, mobile and desktop applications. My goal is also to learn server administration and DevOps.
          </p>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="./assets/cv/cv.pdf" type="button" class="btn btn-about btn-lg px-4 me-md-2" download>Get my CV</a>
        </div>
      </div>
    </div>
  </div>
</div>
