<footer>
  <div id="footer-btns" [@footerButtonsAnimation]="footerButtonsAnimationState">
    <a href="https://www.facebook.com/daniel.miliczek.5" target="_blank">
      <ng-icon name="bootstrapFacebook"></ng-icon>
    </a>
    <a href="https://www.linkedin.com/in/daniel-miliczek-329521279/" target="_blank">
      <ng-icon name="bootstrapLinkedin"></ng-icon>
    </a>
    <a href="https://github.com/ShadowBlack77" target="_blank">
      <ng-icon name="bootstrapGithub"></ng-icon>
    </a>
    <a>
      <ng-icon name="bootstrapDiscord"></ng-icon>
    </a>
  </div>
  <div>
    <p>
      © ShadowBlack {{ currentDate.getFullYear() }}
    </p>
  </div>
</footer>