.footer-container {
  background-color: #251E48;
  width: 100%;
  min-height: 5vh;

  a {
    padding: 0.2rem;
    background-color: #ADD8E6;
    color: #41175e;
    text-decoration: noen;
    border-radius: 4px;
    font-size: 1.2rem;
    transition: .2s;
  }

  a:hover {
    background-color: #41175e;
    color: #ADD8E6;
  }
}