<header [@scrollAnimation]="animationState">
  <div>
    <a href="#explore-image">
      <h1>ShadowBlack</h1>
    </a>
  </div>
  <nav>
    <a href="/#banner-section" [ngClass]="{'active-link': currentSection === 'about'}">About</a>
    <a href="/#service-section" [ngClass]="{'active-link': currentSection === 'services'}">Services</a>
    <a href="/#experience-section" [ngClass]="{'active-link': currentSection === 'experience'}">Experience</a>
    <a href="/#project-section" [ngClass]="{'active-link': currentSection === 'projects'}">Projects</a>
    <a href="/#touch-section" [ngClass]="{'active-link': currentSection === 'touch'}">Contact</a>
  </nav>
  <div id="ham-menu-btn-container">
    <button id="ham-menu-btn" (click)="onHamBtnClick()">
      <div>
        <hr />
        <hr />
        <hr />
      </div>
    </button>
  </div>
</header>
<app-hamburger-menu #hamburgerMenu [textInMenu]="isTextMenuShowed" [isMenuOpened]="isHamburgerMenuOpen" [currentSection]="currentSection" />