header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #e6e6fa;
  padding: 8px 0;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;

  a {
    text-decoration: none;
    color: #e6e6fa;
  }

  h1 {
    font-weight: 400;
  }

  nav {
    a {
      margin: 0 12px;
      text-decoration: none;
      color: #e6e6fa;
      transition: color .4s;
      padding: 4px 8px;
    }

    .active-link{
      border-bottom: 1px solid #e6e6fa;
    }

    .active-link:hover{
      border-bottom: 1px solid #ababc4;
    }

    a:hover {
      color: #ababc4;
    }
  }

  #ham-menu-btn-container {
    #ham-menu-btn {
      background-color: transparent;
      border: none;
      height: 12px;
      width: 24px;
      cursor: pointer;
      display: none;
      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        hr {
          border: none;
          width: 100%;
          height: 1px;
          background-color: #e6e6fa;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    nav{
      display: none;
    }
  
    #ham-menu-btn-container {
      #ham-menu-btn {
        display: block;
      }
    }
  }
}