<div id="projects">
  <div id="project-header">
    <h2 [@projectTitleAnimation]="projectsAnimationState">Selected Projects</h2>
  </div>
  <div id="selected-projects">

    <div class="project" id="project-one" [@projectOneAnimation]="projectsAnimationState">
      <div class="project-description">
        <div>
          <h3>Friday <br /> Make-up</h3>
        </div>
        <div class="project-btns">
          <a href="https://services-websote-off-shadowblack.netlify.app" target="_blank">
            Website 
            <ng-icon name="tdesignInternet"></ng-icon>
          </a>
        </div>
      </div>
    </div>

    <div class="project" id="project-two" [@projectTwoAnimation]="projectsAnimationState">
      <div class="project-description">
        <div>
          <h3>Food Shop</h3>
        </div>
        <div class="project-btns">
          <a href="https://food-shop-shadowblack.netlify.app" target="_blank">
            Website 
            <ng-icon name="tdesignInternet"></ng-icon>
          </a>
          <a href="https://github.com/ShadowBlack77/food-store-angular" target="_blank">
            Code 
            <ng-icon name="bootstrapCodeSlash"></ng-icon>
          </a>
        </div>
      </div>
    </div>

    <div class="project" id="project-three" [@projectThreeAnimation]="projectsAnimationState">
      <div class="project-description">
        <div>
          <h3>Manage landing<br /> page</h3>
        </div>
        <div class="project-btns">
          <a href="https://manage-landing-page-shadowblack77.netlify.app" target="_blank">
            Website 
            <ng-icon name="tdesignInternet"></ng-icon>
          </a>
          <a href="https://github.com/ShadowBlack77/food-store-angular" target="_blank">
            Code 
            <ng-icon name="bootstrapCodeSlash"></ng-icon>
          </a>
        </div>
      </div>
    </div> 

    <div class="project" id="project-four" [@projectFourAnimation]="projectsAnimationState">
      <div class="project-description">
        <div>
          <h3>Multi-step form <br /> Angular</h3>
        </div>
        <div class="project-btns">
          <a href="https://multi-step-form-shadowblack.netlify.app" target="_blank">
            Website 
            <ng-icon name="tdesignInternet"></ng-icon>
          </a>
          <a href="https://github.com/ShadowBlack77/food-store-angular" target="_blank">
            Code 
            <ng-icon name="bootstrapCodeSlash"></ng-icon>
          </a>
        </div>
      </div>
    </div>

    <div class="project" id="project-five" [@projectFiveAnimation]="projectsAnimationState">
      <div class="project-description">
        <div>
          <h3>Rock Paper Scissors<br /> Master</h3>
        </div>
        <div class="project-btns">
          <a href="https://rps-extended-shadowblack77.netlify.app" target="_blank">
            Website 
            <ng-icon name="tdesignInternet"></ng-icon>
          </a>
          <a href="https://github.com/ShadowBlack77/food-store-angular" target="_blank">
            Code 
            <ng-icon name="bootstrapCodeSlash"></ng-icon>
          </a>
        </div>
      </div>
    </div>

    <div class="project" id="project-six" [@projectSixAnimation]="projectsAnimationState">
      <div class="project-description">
        <div>
          <h3>Glamour</h3>
        </div>
        <div class="project-btns">
          <a href="https://glamour-beauty-salon.netlify.app/" target="_blank">
            Website 
            <ng-icon name="tdesignInternet"></ng-icon>
          </a>
          <!-- <a href="#" target="_blank">Code</a> -->
        </div>
      </div>
    </div>
  </div>
  <div id="projects-btn">
    <a href="https://github.com/ShadowBlack77" target="_blank">
      More Projects here
    </a>
  </div>
</div>