.projects-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .lead,
  .subtitle-color {
    color: #ADD8E6;
  }

  .tech-title {
    color: grey;
  }

  .btn-about {
    color: white;
    border: 1px solid white;
  }

  .btn-about:hover {
    color: #41175e;
    border: 1px solid #41175e;
    background-color: #ADD8E6;
  }
}

@media only screen and (max-width: 768px) {
  .project-image-container {
    display: none;
  }
}