<div class="projects-container">

  <div class="container col-xxl-8 px-4 py-5 title-project-fade-in">
    <div class="row flex-lg-row-reverse g-5 py-5">
      <div class="col-lg-12">
        <div>
          <h2 class="display-5 fw-bold lh-1 mb-3 text-light">Projects</h2>
        </div>
    </div>
  </div>

  <div class="container first-project my-4 first-project-fade-in">
    <div class="row flex-lg-row-reverse align-items-center">
      <div class="col-lg-6">
        <div class="mb-4">
          <h1 class="display-5 fw-bold lh-1 mb-3 text-light">
            Friday Make-up
          </h1>
        </div>
        <div class="mb-4">
          <p class="lead">
            A private project for a client to streamline the salon booking process. Users can book appointments, select services, and receive confirmations, while staff efficiently manages bookings, improving both user experience and workflow.
          </p>
        </div>
        <div class="mb-4">
          <h4 class="tech-title">
            <i>Technologies</i>
          </h4>
          <p class="lead" style="font-size: 1em;">
            Blazor | Bootstrap | C# | .NET | T-SQL | Azure
          </p>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="https://fridaymake-up.azurewebsites.net/" target="_blank" type="button" class="btn btn-about btn-lg px-3 me-md-2">
            <i class="bi bi-globe"></i>
          </a>
        </div>
      </div>
      <div class="col-10 col-sm-8 col-lg-6 col-sm-12 text-center project-image-container">
        <img src="./assets/imgs/fridaymake-up.svg" class="d-block mx-lg-auto img-fluid" alt="Friday Make-up" loading="lazy">
      </div>
    </div>
  </div>

  <div class="container second-project my-4 second-project-fade-in">
    <div class="row flex-lg-row-reverse align-items-center">
      <div class="col-10 col-sm-8 col-lg-6 col-sm-12 text-center project-image-container">
        <img src="./assets/imgs/shcode.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy">
      </div>
      <div class="col-lg-6">
        <div class="mb-4">
          <h1 class="display-5 fw-bold lh-1 mb-3 text-light">
            ShCode_
          </h1>
        </div>
        <div class="mb-4">
          <p class="lead">
            This online platform shares my knowledge with beginner programmers, offering courses, tutorials, and notes. Content is regularly updated to reflect new technologies and trends. The goal is to provide a valuable learning space with practical insights and structured lessons, continually expanding to support new developers.
          </p>
        </div>
        <div class="mb-4">
          <h4 class="tech-title">
            <i>Technologies</i>
          </h4>
          <p class="lead" style="font-size: 1em;">
            Angular | Bootstrap | C# | .NET API | T-SQL | Azure | Netlify
          </p>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="https://shcodestore.pl/content/home" target="_blank" type="button" class="btn btn-about btn-lg px-3 me-md-2">
            <i class="bi bi-globe"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container thrith-project first-project my-4 thrith-project-fade-in">
    <div class="row flex-lg-row-reverse align-items-center">
      <div class="col-lg-6">
        <div class="mb-4">
          <h1 class="display-5 fw-bold lh-1 mb-3 text-light">
            ShadowBlack - Portfolio
          </h1>
        </div>
        <div class="mb-4">
          <p class="lead">
            The website will serve as my portfolio, showcasing my projects, skills, and expertise. It offers potential clients and collaborators an in-depth look at my work, helping me stand out and attract new opportunities.
          </p>
        </div>
        <div class="mb-4">
          <h4 class="tech-title">
            <i>Technologies</i>
          </h4>
          <p class="lead" style="font-size: 1em;">
            Angular | Bootstrap | GSAP | Netlify
          </p>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="https://shadowblack.pl/" target="_blank" type="button" class="btn btn-about btn-lg px-3 me-md-2">
            <i class="bi bi-globe"></i>
          </a>
          <a href="https://github.com/ShadowBlack77/shadowblack77-portfolio" target="_blank" type="button" class="btn btn-about btn-lg px-3 me-md-2">
            <i class="bi bi-github"></i>
          </a>
        </div>
      </div>
      <div class="col-10 col-sm-8 col-lg-6 col-sm-12 text-center project-image-container">
        <img src="./assets/imgs/ShCompStore.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy">
      </div>
    </div>
  </div>

  <div class="container fourth-project my-4 fourth-project-fade-in">
    <div class="row flex-lg-row-reverse align-items-center ">
      <div class="col-10 col-sm-8 col-lg-6 col-sm-12 text-center project-image-container">
        <img src="./assets/imgs/glamour.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy">
      </div>
      <div class="col-lg-6">
        <div class="mb-4">
          <h1 class="display-5 fw-bold lh-1 mb-3 text-light">
            Glamour
          </h1>
        </div>
        <div class="mb-4">
          <p class="lead">
            This project was part of my Angular and front-end design learning. It involved using tools like SwiperJS for responsive carousels and Flowbite for TailwindCSS, adding pre-designed components. I gained hands-on experience building dynamic, user-friendly interfaces while expanding my web development skills.
          </p>
        </div>
        <div class="mb-4">
          <h4 class="tech-title">
            <i>Technologies</i>
          </h4>
          <p class="lead" style="font-size: 1em;">
            Angular | TailwindCSS | SCSS | Netlify
          </p>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="https://glamour-beauty-salon.netlify.app/" target="_blank" type="button" class="btn btn-about btn-lg px-3 me-md-2">
            <i class="bi bi-globe"></i>
          </a>
          <a href="https://github.com/ShadowBlack77/glamour-hair-salon-01" target="_blank" type="button" class="btn btn-about btn-lg px-3 me-md-2">
            <i class="bi bi-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>