#get-in-touch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 12px 4px;
  height: 25vh;
  background-color: #124559;
  color: #e6e6fa;
  display: flex;

  h3 {
    font-weight: 400;
    font-size: 2em;
  }

  a {
    background-color: #01161e;
    color: #e6e6fa;
    text-decoration: none;
    padding: 12px 24px;
    display: block;
    transition: .4s;
    display: flex;
    align-items: center;

    ng-icon {
      margin-left: 8px;
    }
  }

  a:hover {
    background-color: #05212c;
    transform: scale(1.05);
  }
}

@media only screen and (max-width: 425px) {
  #get-in-touch {
    text-align: center;
  }
}