.navbar-container {
  background-color: #251E48;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9998;
}
.navbar {
  min-height: 5vh;

  .navbar-nav-header {
    flex-direction: row;

    .nav-link {
      color: gray;
    }

    .active-header-link {
      color: white;
    }
  
    .ham-menu-btn {
      display: none;
  
      .ham-box {
        height: 20px;
        width: 40px;
        position: relative;
        margin: auto;
        cursor: pointer;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
  
        .bar{
          height: 2px; /* Zwiększamy nieco grubość */
          width: 100%;
          position: relative;
        }
      }
    }
  }
}

.wrapper {
  // background-image: linear-gradient(180deg, #2c2553,#51357c,#7944a7,#a254d5);
  background-image: linear-gradient(180deg, #251E48, #41175e);

  .fade-in-about {
    opacity: 0;
  }

  aside {
    display: flex;
    backdrop-filter: blur(4px);
    background-color:rgba(65, 23, 94, .5);
    height: 100%;
    width: min(75vw, 400px);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100vw);
    z-index: 9999;

    h3 {
      font-size: 2em;
    }

    .navbar-nav-aside {
      .nav-link {
        color: rgb(206, 206, 206);
      }

      .active-aside-link {
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    .navbar-nav-header {
      li {
        display: none;
      }
  
      .ham-menu-btn {
        display: block;
      }
    }
  }
}