<section id="hamburger-menu" [@hamburgerMenuAnimation]="isMenuOpened ? 'end' : 'start'">
  <div id="hamburger-menu-title">
    <h2 [@hamburgerMenuTextAnimation]="textInMenu ? 'end' : 'start'">Menu</h2>
  </div>
  <nav>
    <a [@hamburgerMenuTextAnimation]="textInMenu ? 'end' : 'start'" href="/#explore-image" [ngClass]="{'active-link': currentSection === 'explore'}">Home</a>
    <a [@hamburgerMenuTextAnimation]="textInMenu ? 'end' : 'start'" href="/#banner-section" [ngClass]="{'active-link': currentSection === 'about'}">About</a>
    <a [@hamburgerMenuTextAnimation]="textInMenu ? 'end' : 'start'" href="/#service-section" [ngClass]="{'active-link': currentSection === 'services'}">Services</a>
    <a [@hamburgerMenuTextAnimation]="textInMenu ? 'end' : 'start'" href="/#experience-section" [ngClass]="{'active-link': currentSection === 'experience'}" >Experience</a>
    <a [@hamburgerMenuTextAnimation]="textInMenu ? 'end' : 'start'" href="/#project-section" [ngClass]="{'active-link': currentSection === 'projects'}">Projects</a>
    <a [@hamburgerMenuTextAnimation]="textInMenu ? 'end' : 'start'" href="/#touch-section" [ngClass]="{'active-link': currentSection === 'touch'}" >Contact</a>
  </nav>
</section>