<div id="services">
  <div class="service" id="first-element" [@blockOne]="serviceAnimationState">
    <span>
      <ng-icon name="bootstrapLaptop"></ng-icon>
    </span>
    <h3>Website coding</h3>
    <p>
      I pay attention to creating neat, transparent, clean and, above all, working code on the client and server sides, so that visually and logically the website is 100% refined.
    </p>
  </div>
  <div class="service" [@blockTwo]="serviceAnimationState">
    <span>
      <ng-icon name="bootstrapPhone"></ng-icon>
    </span> 
    <h3>Responsive design</h3>
    <p>
      Responsive websites are the basis of today and the future. Therefore, following the progress of technology, I also create responsive websites so that users do not have to worry about what device they are using.
    </p>
  </div>
  <div class="service" id="last-element" [@blockThree]="serviceAnimationState">
    <span>
      <ng-icon name="bootstrapDatabaseCheck"></ng-icon>
    </span>
    <h3>Database management</h3>
    <p>
      Databases are a very important aspect when it comes to the back-end of websites. Therefore, managing them is very important, and keeping them in proper order is essential for the database to be efficient. For this reason, I am also interested in database management.
    </p>
  </div>
</div>