<footer>
  <div id="footer-btns" #footerButtonsAnimations [@footerButtonsAnimation]="footerButtonsAnimationState">
    <a href="https://www.facebook.com/daniel.miliczek.5" target="_blank">
      <i class="fa-brands fa-square-facebook"></i>
    </a>
    <a href="https://www.linkedin.com/in/daniel-miliczek-329521279/" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://github.com/ShadowBlack77" target="_blank">
      <i class="fa-brands fa-square-github"></i>
    </a>
    <a>
      <i class="fa-brands fa-discord"></i>
    </a>
  </div>
  <div>
    <p>
      © ShadowBlack 2024
    </p>
  </div>
</footer>