<section id="projects">
  <div id="project-header">
    <h2>Selected Projects</h2>
  </div>
  <div id="selected-projects">
    <div class="project">
      <div class="project-description">
        <div>
          <h3>Projekt1</h3>
        </div>
        <div class="project-btns">
          <a href="#">Website</a>
          <a href="#">Code</a>
        </div>
      </div>
    </div>
    <div class="project">
      <div class="project-description">
        <div>
          <h3>Projekt2</h3>
        </div>
        <div class="project-btns">
          <a href="#">Website</a>
          <a href="#">Code</a>
        </div>
      </div>
    </div>
    <div class="project">
      <div class="project-description">
        <div>
          <h3>Projekt3</h3>
        </div>
        <div class="project-btns">
          <a href="#">Website</a>
          <a href="#">Code</a>
        </div>
      </div>
    </div> 
    <div class="project">
      <div class="project-description">
        <div>
          <h3>Projekt4</h3>
        </div>
        <div class="project-btns">
          <a href="#">Website</a>
          <a href="#">Code</a>
        </div>
      </div>
    </div>
    <div class="project">
      <div class="project-description">
        <div>
          <h3>Projekt5</h3>
        </div>
        <div class="project-btns">
          <a href="#">Website</a>
          <a href="#">Code</a>
        </div>
      </div>
    </div>
    <div class="project">
      <div class="project-description">
        <div>
          <h3>Projekt6</h3>
        </div>
        <div class="project-btns">
          <a href="#">Website</a>
          <a href="#">Code</a>
        </div>
      </div>
    </div>
  </div>
</section>