<section id="projects">
  <div id="project-header">
    <h2 #projectTitle [@projectTitleAnimation]="projectTitleState">Selected Projects</h2>
  </div>
  <div id="selected-projects">
    <div class="project" #projectOne [@projectOneAnimation]="projectOneState">
      <div class="project-description">
        <div>
          <h3>Projekt1</h3>
        </div>
        <div class="project-btns">
          <a href="#">Website</a>
          <a href="#">Code</a>
        </div>
      </div>
    </div>
    <div class="project" #projectTwo [@projectTwoAnimation]="projectTwoState">
      <div class="project-description">
        <div>
          <h3>Projekt2</h3>
        </div>
        <div class="project-btns">
          <a href="#">Website</a>
          <a href="#">Code</a>
        </div>
      </div>
    </div>
    <div class="project" id="project-three" #projectThree [@projectThreeAnimation]="projectThreeState">
      <div class="project-description">
        <div>
          <h3>Rock Paper Scissors<br /> Master</h3>
        </div>
        <div class="project-btns">
          <a href="#">Website</a>
          <a href="#">Code</a>
        </div>
      </div>
    </div> 
    <div class="project" id="project-four" #projectFour [@projectFourAnimation]="projectFourState">
      <div class="project-description">
        <div>
          <h3>Projekt4</h3>
        </div>
        <div class="project-btns">
          <a href="#">Website</a>
          <a href="#">Code</a>
        </div>
      </div>
    </div>
    <div class="project" #projectFive [@projectFiveAnimation]="projectFiveState">
      <div class="project-description">
        <div>
          <h3>Projekt5</h3>
        </div>
        <div class="project-btns">
          <a href="#">Website</a>
          <a href="#">Code</a>
        </div>
      </div>
    </div>
    <div class="project" #projectSix [@projectSixAnimation]="projectSixState">
      <div class="project-description">
        <div>
          <h3>Projekt6</h3>
        </div>
        <div class="project-btns">
          <a href="#">Website</a>
          <a href="#">Code</a>
        </div>
      </div>
    </div>
  </div>
  <div id="projects-btn">
    <a href="">
      More Projects here
    </a>
  </div>
</section>