<section id="services" #servicesSection>
  <div class="service" #firstBlock [@blockOne]="blockOneAnimationState">
    <span>
      <i class="fa-solid fa-laptop-code"></i>
    </span>
    <h3>Website coding</h3>
    <p>
      Tworzenie kodu serwisów Internetowych po stronie Frontend'u jak i Backendu
      Tworzenie kodu serwisów Internetowych po stronie Frontend'u jak i Backendu
      Tworzenie kodu serwisów Internetowych po stronie Frontend'u jak i Backendu
    </p>
  </div>
  <div class="service" #secondBlock [@blockTwo]="blockTwoAnimationState">
    <span>
      <i class="fa-solid fa-mobile-screen"></i>
    </span>
    <h3>Responsive coding</h3>
    <p>
      Tworzenie aplikacji responsywnych zgodny z zasadami RWD
      Tworzenie aplikacji responsywnych zgodny z zasadami RWD
      Tworzenie aplikacji responsywnych zgodny z zasadami RWD
    </p>
  </div>
  <div class="service" #thirdBlock [@blockThree]="blockThirdAnimationState">
    <span>
      <i class="fa-solid fa-database"></i>
    </span>
    <h3>Database management</h3>
    <p>
      Zarządzanie bazami danych oraz serwerami hostingów aplikacji
      Zarządzanie bazami danych oraz serwerami hostingów aplikacji
      Zarządzanie bazami danych oraz serwerami hostingów aplikacji
    </p>
  </div>
</section>