<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse g-5 py-5">
    <div class="col-lg-6">
      <div>
        <h2 class="display-5 fw-bold lh-1 mb-3 text-light">Experience</h2>
      </div>
      <div>
        <p class="lead ">
          I have been continuously coding for two years, both as a hobby and professionally, so I’m excited to share my experience below!
        </p>
      </div>
      <div class="py-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div>
              <div>
                <p class="date">
                  <b>
                    <i>february 2023 - present</i>
                  </b>
                </p>
              </div>
              <div>
                <p class="lead fs-5">Freelancer</p>
                <p class="text-light">
                  Developing web, mobile, and desktop applications for individuals and businesses, including collaborations with companies such as PHU Agma Mysłowice and GodBud.
                </p>
              </div>
            </div>
            <div>
              <div>
                <p class="date">
                  <b>
                    <i>may 2023 - january 2024</i>
                  </b>
                </p>
              </div>
              <div>
                <p class="lead fs-5">MMRC Sp. z o.o. / Żeltech Sp. z o.o. Żywiec</p>
                <p class="text-light">
                  Backend programmer, creating extensive database queries using T-SQL. Creating the appearance of website applications using JavaScript
                </p>
              </div>
            </div>
            <div>
              <div>
                <p class="date">
                  <b>
                    <i>september 2022 - september 2023</i>
                  </b>
                </p>
              </div>
              <div>
                <p class="lead fs-5">PHU AGMA Mysłowice</p>
                <p class="text-light">
                  Work as an intern and develop applications independently. Create desktop and mobile applications that streamline service documentation and improve communication between management and employees.
                </p>
              </div>
            </div>
            <div>
              <div>
                <p class="date">
                  <b>
                    <i>october - september 2021</i>
                  </b>
                </p>
              </div>
              <div>
                <p class="lead fs-5">Erasmums +</p>
                <p class="text-light">
                  Internships as part of the Erasmus+ project, design and creation of internet applications.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <div>
        <h1 class="display-5 fw-bold lh-1 mb-3 text-light">Skills</h1>
      </div>
      <div>
        <p class="lead ">
          When developing applications, I personally handle both the backend and frontend, utilizing a variety of technologies such as...
        </p>
      </div>
      <div class="py-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div style="display: flex; align-items: center;">
              <div class="px-2">
                <img src="./assets/skills/angular.svg" alt="angular" width="48">
              </div>
              <div class="px-2">
                <p class="text-light" style="margin: 0; padding: 0;">
                  <i>For Web, Mobile & Desktop Frontend</i>
                </p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div style="display: flex; align-items: center;">
              <div class="px-2">
                <img src="./assets/skills/bootstrap.svg" alt="bootstrap" width="48">
              </div>
              <div class="px-2">
                <p class="text-light" style="margin: 0; padding: 0;">
                  <i>For UI Design</i>
                </p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div style="display: flex; align-items: center;">
              <div class="px-2">
                <img src="./assets/skills/dotnet.svg" alt="dotnet" width="48">
              </div>
              <div class="px-2">
                <p class="text-light" style="margin: 0; padding: 0;">
                  <i>For Backend, Server & Apis</i>
                </p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div style="display: flex; align-items: center;">
              <div class="px-2">
                <img src="./assets/skills/postgresql.svg" alt="postgresql" width="48">
              </div>
              <div class="px-2">
                <p class="text-light" style="margin: 0; padding: 0;">
                  <i>For SQL Database</i>
                </p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div style="display: flex; align-items: center;">
              <div class="px-2">
                <img src="./assets/skills/firebase.svg" alt="firebase" width="48">
              </div>
              <div class="px-2">
                <p class="text-light" style="margin: 0; padding: 0;">
                  <i>For NoSQL Database</i>
                </p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div style="display: flex; align-items: center;">
              <div class="px-2">
                <img src="./assets/skills/azure.svg" alt="azure" width="48">
              </div>
              <div class="px-2">
                <p class="text-light" style="margin: 0; padding: 0;">
                  <i>For hosting & Cloud Services</i>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <p class="lead ">
          And much more! For example, I also use SCSS, along with extensive JavaScript and TypeScript. For mobile apps, I use Ionic, and for desktop applications, I use Tauri.
        </p>
      </div>
  </div>
</div>