<div id="experience">
  <div id="experience-content" [@experienceAnimation]="experienceAnimationState">
    <div id="experience-desc">
      <h3>Experience</h3>
      <p>
        I have been creating websites for over a year. I'm constantly learning new things to always be up to date with technology.
      </p>
    </div>
    <div id="experience-gallery">
      <div id="icons">
        <div id="row-one">
          <div (mouseenter)="showText($event, 1)" (mouseleave)="resetShowText(1)">
            <img src="../../../assets/icons/html-5-svgrepo-com.svg" alt="HTML5">
            <p class="technology-name" [class.show]="isShowedText(1)">HTML5</p>
          </div>
          <div (mouseenter)="showText($event, 2)" (mouseleave)="resetShowText(2)">
            <img src="../../../assets/icons/css-3-svgrepo-com.svg" alt="CSS3">
            <p class="technology-name" [class.show]="isShowedText(2)">CSS3</p>
          </div>
          <div (mouseenter)="showText($event, 3)" (mouseleave)="resetShowText(3)">
            <img src="../../../assets/icons/js-svgrepo-com.svg" alt="JavaScript">
            <p class="technology-name" [class.show]="isShowedText(3)">JavaScript</p>
          </div>
          <div (mouseenter)="showText($event, 4)" (mouseleave)="resetShowText(4)">
            <img src="../../../assets/icons/typescript-icon-svgrepo-com.svg" alt="TypeScript">
            <p class="technology-name" [class.show]="isShowedText(4)">TypeScript</p>
          </div>
        </div>
        <div id="row-two">
          <div (mouseenter)="showText($event, 5)" (mouseleave)="resetShowText(5)">
            <img src="../../../assets/icons/angular-svgrepo-com.svg" alt="Angular">
            <p class="technology-name" [class.show]="isShowedText(5)">Angular</p>
          </div>
          <div (mouseenter)="showText($event, 6)" (mouseleave)="resetShowText(6)">
            <img src="../../../assets/icons/tailwind-svgrepo-com.svg" alt="Tailwind">
            <p class="technology-name" [class.show]="isShowedText(6)">Tailwind</p>
          </div>
          <div (mouseenter)="showText($event, 7)" (mouseleave)="resetShowText(7)">
            <img src="../../../assets/icons/scss-svgrepo-com.svg" alt="Scss">
            <p class="technology-name" [class.show]="isShowedText(7)">Scss</p>
          </div>
          <div (mouseenter)="showText($event, 8)" (mouseleave)="resetShowText(8)">
            <img src="../../../assets/icons/bootstrap-svgrepo-com.svg" alt="Bootstrap">
            <p class="technology-name" [class.show]="isShowedText(8)">Bootstrap</p>
          </div>
        </div>
        <div id="row-three">
          <div (mouseenter)="showText($event, 9)" (mouseleave)="resetShowText(9)">
            <img src="../../../assets/icons/dotnet-svgrepo-com.svg" alt="ASP.NET">
            <p class="technology-name" [class.show]="isShowedText(9)">ASP.NET</p>
          </div>
          <div (mouseenter)="showText($event, 10)" (mouseleave)="resetShowText(10)">
            <img src="../../../assets/icons/firebase-svgrepo-com.svg" alt="Firebase">
            <p class="technology-name" [class.show]="isShowedText(10)">Firebase</p>
          </div>
          <div (mouseenter)="showText($event, 11)" (mouseleave)="resetShowText(11)">
            <img src="../../../assets/icons/postgresql-svgrepo-com.svg" alt="PostgreSQL">
            <p class="technology-name" [class.show]="isShowedText(11)">PostgreSQL</p>
          </div>
          <div (mouseenter)="showText($event, 12)" (mouseleave)="resetShowText(12)">
            <img src="../../../assets/icons/mysql-logo-svgrepo-com.svg" alt="MySQL">
            <p class="technology-name" [class.show]="isShowedText(12)">MySQL</p>
          </div>
        </div>
      </div>
      <div id="more-experience">
        <div id="more-experience-text-block">
          <div id="more-experience-title">
            <h2>More About Experience</h2>
          </div>
          <div id="more-experience-desc">
            <p>
              <b>Archman Navigaotr</b> - Working with the Archman Navigaotr to build applications for companies
            </p>
          </div>
        </div>
        <div id="selected-projects">
          <a href="/#project-section">
            Selected Projects
          </a>
        </div>
      </div>
    </div>
  </div>
</div>